.gnb{
     display:block; width:100%; background: #fff; border-top:1px solid #c8c8c8; z-index: 20;
    ul{
        position:relative; list-style: none; padding:0; display:flex; flex-direction: row; gap:10px; justify-content:center; align-items: center;height:65px;         
    }
    &.bottom{
        li{
            width: 20%;
            text-align:center;
            a{color:#000}
        }
        position:fixed;
        bottom:0; 
    }
    &.top{
        position: sticky; top:0;
        small.white,h2.white{color:white}
        background: transparent;
        border-top: 0;
        &.floating-menu{
            position: fixed;
            top:0;
            left:0;
        }
        button.goback{
            position: absolute;
            left: 0;
            top: 0px;
            width: 40px;
            height: 85px;
            font-size: 20px;
            background-color: transparent;
            border:0px;
        }
        .top__logo{
            position: relative;
            display: inline-block;
            small{display:inline-block;position: relative; font-size:.9rem; top:-3px;margin-right: 5px;}
            h2{display:inline-block; font-size:1.5rem}
        }
    }
    .menu-submessage{display: block; margin-top:5px;font-size: .7rem;}
}
