

.products{
    list-style:none; 
    display:grid; 
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
}


.product-item, .cart-item{
    position: relative;
    padding:5px;
    width: 100%;
    box-sizing: border-box;
    text-overflow: ellipsis;
    overflow: hidden;
    a{text-decoration: none; color:#000}
    &__title{display: -webkit-box; margin:10px 0px 15px;height:35px; overflow: hidden; font-size: 15px;font-weight: 300; -webkit-line-clamp: 2;-webkit-box-orient: vertical;text-overflow: ellipsis;}
    &__price{margin:10px 0px 15px;font-size: 18px;font-weight: bold;}
    &__won{font-size: 15px;}
    &__underbutton{position: absolute;right:5px;bottom:0px;}
    &__image{
        width: 100%;
        object-fit:contain;
    }
}